__pycache__
*.pyc
*.pyo
*.pyd
# Exclude the project virtual environment from image builds
.venv
.git
.mypy_cache
.pytest_cache
.ruff_cache
.coverage
# ignore notebooks folder
notebooks
# ignore data folder
data
# ignore all files in the data folder
data/**
